# 데이터 타입

## > 숫자형
- 종류
   - 정수 : 0, 양수, 음수인 숫자
   - 실수 : 소숫점을 포함하는 숫자
   - 8진수(Oo 또는 OO(대문자o) 으로 시작) : Oo34, Oo25
   - 16진수 (Ox로시작) : Ox2A, OxFF
   - 2진수 (Ob로 시작) : Ob10, Ob11

### 정수형

In [10]:
#양수, 음수, 0
a = 10
b = -20
c = 0

In [11]:
# 출력 : print(자료)
print(a)

10

In [13]:
#따옴표로 싸여 있는 a는 "a"라는 문자로 출력
print("a")

a

In [14]:
print("Hello world")

Hello world

In [21]:
#정수 타입 : 타입(데이터종류)를 확인하는 내장함수 type()
type(a)

int

In [16]:
type(b)

int

In [17]:
type(c)

int

### 실수형

변수는 박스 하나당 한개가 들어가야한다

In [25]:
# 양의 실수, 음의 실수 : float
a = 1.3
b = -2.4
c = 0.0

In [26]:
type(a)

float

In [27]:
type(b)

float

In [28]:
type(c)

float

In [30]:
# 0 vs 0.0
print(type(0), type(0.0))

<class 'int'> <class 'float'>

In [ ]:
# 정수와 실수가 다른 숫자로 인식되는 이유는
# 2의 보수방식, 실수 이진수 표현 2개 키워드로 검색하면 확인할 수 있습니다.

구글에 2의 보수방식, 부동소수점 검색

## > 연산자

- 산술 : +, -, *, /, //(몫), %(나머지)
- 비교 : ==(값이 같은지), !=(값이 다른지), <=, >=, <, >
- 논리 : and, or
- 할당 : =, +=(누적합), -=(누적차), *=(누적곱), /=(몫만 남기기), %=(나머지만 남기기)

### 1) 산술연산자 : 숫자를 계산하기 위한 문법 기호

In [38]:
# 더하기 : +
# 정수 + 정수 => 정수로 출력
10 + 3
# 실수 + 실수 => 실수로 출력
13.3 + 2.4
# 정수 + 실수 => 실수로 출력 (같은 자리수로 맞춰야 하기때문 작은걸 큰걸로 맞춤)
10 + 3.4

13.4

### 주피터 노트북은 print() 구분을 쓰지 않을 시 가장 마지막 줄의 결과만 화면에 보여줍니다.
### 만약 모든 줄의 결과를 화면에 보여주고 싶다면 매 구분마다 print() 구분을 써줘야 합니다.

In [39]:
# 빼기 : -
10- 3
3 - 7.7

-4.7

In [43]:
# 나누기 ; /
# 파이썬만 정수 나누기 정수도 실수로 출력합니다.
# 자바, cpp 등의 대다수 언어는 정수 / 정수는 무조건 정수로 나옵니다.
3 / 3

1.0

In [45]:
# 곱하기 : *
3 * 4
-3 * 5
# 파이썬에서도 사칙연산의 우선순위를 ()로 조절할 수 잇습니다.
(3 - 4) * 5

-5

In [47]:
# 정수 몫 반환 : //
# 나눗셈의 결과값보다 작은 정수중에 가장 큰 정수
5 // 4
-5 // 4

-2

In [48]:
# 양수는 그냥 생각한대로 몫이 나옴
4 // 3

1

In [49]:
# 정수 몫을 구하고 남은 나머지만 반환 : %
3 % 4

3

In [53]:
# 지수 : **
2 ** 3
# 제곱근, 세제곱근 등도 계산 가능
2 ** 0.5

1.4142135623730951

### 2) 비교연산자 : 자료를 비교하기 위한 문법 기호
    -결과가 숫자가 아니라 bool type의 결과를 가진다.
    
>#### bool type (참 또는 거짓)
    - True : 0이 아닌 숫자, 참인 조건식 등
    - False : 0, 거짓의 조건식 등
    
- 값에 대한 비교(단순비교) : ==, !=
- 크기에 대한 비교(대소비교) : >, <, >=, <=

In [56]:
# 두 값이 같은지 비교 : ==
1 == 1.0
# 자료끼리는 같다고 나오지만 자료형(자료타입)으로 비교시 다릅니다.
type(1) == type(1.0)

False

In [58]:
# 두 값이 다른지 비교 : !=
# 두 값이 다르면 True, 같으면 False
0 != 0.0
type(0) != type(0.0)

True

In [60]:
# 두 값의 크기를 비교 : >=, <=, <, >
# 대소 비교는 숫자끼리 가능
2 >= 3

False

#### 3) 논리연산자
- 여러 개의 조건식을 활용하기 위한 명령어
- bool type 결과 반환 : True, False

In [63]:
# and 연산자 : 조건식1 and 조건식2
# 조건식1과 조건식2가 모두 True면 최종결과는 True
# 둘 중 하나만 False여도 최종결과는 False
# 둘다 False이면 최종결과는 False
10 < 12 and 0 > -3

True

In [65]:
# bool(자료) 는 해당 자료의 참, 거짓을 판단해준다.
# 단독 숫자 등도 판단이 가능하고, 0만 아니면 이외 모든 숫자는 True
bool(10 <12)

True

#### 4) 할당연산자

- 변수 할당
- 누적 연산

In [77]:
# 변수명(왼쪽) 변수값(오른쪽)을 할당/선언/저장 : =
# x에 10을 대입해주세요.
x = 10

In [78]:
# 숫자형의 누적 합계 +=
# result라는 변수에 누적합을 저장하기
result = 0
# result에 x만큼 더해서 저장하기 위해 원래 사용하던 코드
result = result + x

In [79]:
# result를 한 번 만 쓰고도 x만큼 더해서 저장까지 하는 코드
result += x

In [80]:
result

20

In [81]:
# 숫자형의 누적 차
result -= 1
result

19

In [82]:
# 누적 곱
# result를 2배로 곱해서 저장해주세요.
result *= 2
result

38

### 1. 홍길동의 시험 성적 평균을 구하세요
영어 80점  국어 72점 수학 90점 사회 66점
* 변수를 사용해서 과목의 평균을 구해보세요.
* 출력 양식 : <br>
총합 308 <br>
평균 77

In [83]:
eng = 80
kor = 72
math = 90
social = 66

In [86]:
# 총합 구해서 total 변수에 저장하기
total = eng + kor + math +social
total

308

In [88]:
# 평균 구해서 avg 변수에 저장하기
avg = total / 4
avg

77.0

In [90]:
# print문을 이용해 총합과 평균 출력하기
print("총합" , total)
print("평균" , avg)

총합 308
평균 77.0