## 1000, 10998, 1001, 1008번
두 정수 A와 B를 입력받은 다음, A/B를 출력하는 프로그램을 작성하시오.

In [3]:
A,B = map(int, input().split())
print(A + B)

1 3
4

## 10869번
- 두 자연수 A와 B가 주어진다. 이때, A+B, A-B, A*B, A/B(몫), A%B(나머지)를 출력하는 프로그램을 작성하시오. 
- 두 자연수 A와 B가 주어진다. (1 ≤ A, B ≤ 10,000)
- 첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.

In [2]:
A,B = map(int, input().split())
print(A + B)
print(A - B)
print(A * B)
print(A // B)
print(A % B)

3 7
10
-4
21
0
3

### 10430번
- (A+B)%C는 ((A%C) + (B%C))%C 와 같을까?

- (A×B)%C는 ((A%C) × (B%C))%C 와 같을까?

- 세 수 A, B, C가 주어졌을 때, 위의 네 가지 값을 구하는 프로그램을 작성하시오.

- 입력
  -- 첫째 줄에 A, B, C가 순서대로 주어진다. (2 ≤ A, B, C ≤ 10000)

- 출력
  -- 첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 출력한다.

In [29]:
A,B,C = map(int, input().split())

print((A+B)%C)
print(((A%C) + (B%C))%C)
print((A*B)%C)
print(((A%C) * (B%C))%C)

5 8 4
1
1
0
0

### 10718번
*두 줄에 걸쳐 "강한친구 대한육군"을 한 줄에 한 번씩 출력한다.

In [5]:
a = '강한친구 대한육군 \n강한친구 대한육군'
print(a)

강한친구 대한육군
강한친구 대한육군

### 18108번
* 석가모니가 열반한 해를 기준으로 연도를 세는 불기를 사용한다. 반면, 우리나라는 서기 연도를 사용하고 있다. 불기 연도가 주어질 때 이를 서기 연도로 바꿔 주는 프로그램을 작성하시오.
* 서기 연도를 알아보고 싶은 불기 연도 y가 주어진다. (1000 ≤ y ≤ 3000)
* 2541 = 1998

In [34]:
A = int(input())
print(A-543)

2541
1998

### 25083번 새싹

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'   
 `~\/
      |
      |

In [11]:
print("         ,r'\"7")
print("r`-_   ,'  ,/")
print(" \. \". L_r'")
print("   `~\/")
print("      |")
print("      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

### 10171번 고양이

\    /\
 )  ( ')
(  /  )
 \(__)|

In [24]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

\    /\
 )  ( ')
(  /  )
 \(__)|

### 10172번 개

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [32]:
print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\\''')
print('|"^"`    |')
print('||_/=\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

### 2438번 별찍기 1

* 첫째 줄에 N(1 ≤ N ≤ 100)이 주어진다.
* 첫째 줄부터 N번째 줄까지 차례대로 별을 출력한다.
5를 입력하면 아래와같이 나와야함

*
**
***
****
*****

In [112]:
n=int(input())
for x in range(1,n+1):
    print(x*'*')

5
*
**
***
****
*****

### 2439번 별찍기 2

    *
   **
  ***
 ****
*****

In [174]:
n=int(input())
for y in range(1,n+1):
    print((y * '*').rjust(n,' '))

5
    *
   **
  ***
 ****
*****

### 2440 별찍기 3

In [113]:
n=int(input())
for x in range(n,0,-1):
    print(x*'*')

5
*****
****
***
**
*

*****
****
***
**
*

### 2742 기찍 N

- 첫째 줄부터 N번째 줄 까지 차례대로 출력한다.

In [ ]:
5
4
3
2
1

In [23]:
n=int(input())
for a in range(n,0,-1):
    print(1*a)

5
5
4
3
2
1

### 11720번 숫자의 합

N개의 숫자가 공백 없이 쓰여있다. 

이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

입력
- 첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.

출력
- 입력으로 주어진 숫자 N개의 합을 출력한다.

In [25]:
n=int(input())
for a in range(n,0,-1):
    print(1*a, end="")

11
1110987654321

In [ ]:
#예제 입력 1은 입력2의 길이
#예제 입력 2는 아무숫자나 입력 
#출력은 예제2 입력한 값의 합

In [19]:
n = int(input())
list_n = input()
total = 0
for i in range(n) :
    total = total + int(list_n[i])
print(total)

12
123456789876
66

In [17]:
type(total)

int

### 14681 사분면 고르기

- 1사분면 둘다 양수
- 2사분면 음수 양수
- 3사분면 음수 음수
- 4사분면 양수 음수

In [ ]:
입력한 두개의 수가 양수냐 음수냐로 결과 보여주기

In [3]:
a = int(input())
b = int(input())

if (a > 0 and b > 0):
    print("1")
if(a < 0 and b > 0):
    print("2")
if (a < 0 and  b <0):
    print("3")
if (a > 0 and b < 0):
    print("4")

1
-1
4

In [71]:
x= ["A","B","C","D","E"]
y= ["기역", "니은", "디귿", "리을", "미음"]
z= ["가","나","다","라","마"]

### 크롤링 예제

In [101]:
print("1등제목"+" "+x[0]+" "+"1등가격"+ " "+y[0]+" "+"1등저자"+" "+ z[0] + "\n")

1등제목 A 1등가격 기역 1등저자 가

In [102]:
result=[]
for a in range(5):
    result.append("%s등제목" % (a+1) +" "+ x[a] +" "+"%s등가격"% (a+1)+ " "+y[a]+" "+"%s등저자" %(a+1) +" "+ z[a])

In [103]:
result

['1등제목 A 1등가격 기역 1등저자 가',
 '2등제목 B 2등가격 니은 2등저자 나',
 '3등제목 C 3등가격 디귿 3등저자 다',
 '4등제목 D 4등가격 리을 4등저자 라',
 '5등제목 E 5등가격 미음 5등저자 마']

###

### 2739번 구구단

2 * 1 = 2

2 * 2 = 4

2 * 3 = 6

2 * 4 = 8

2 * 5 = 10

2 * 6 = 12

2 * 7 = 14

2 * 8 = 16

2 * 9 = 18

In [6]:
num = int(input())

for a in range(1,10):
    print(num, '*', a, '=', a*num)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 2480번 주사위 세개

1에서부터 6까지의 눈을 가진 3개의 주사위를 던져서 다음과 같은 규칙에 따라 상금을 받는 게임이 있다. 

같은 눈이 3개가 나오면 10,000원+(같은 눈)×1,000원의 상금을 받게 된다. 

같은 눈이 2개만 나오는 경우에는 1,000원+(같은 눈)×100원의 상금을 받게 된다. 

모두 다른 눈이 나오는 경우에는 (그 중 가장 큰 눈)×100원의 상금을 받게 된다.  

예를 들어, 3개의 눈 3, 3, 6이 주어지면 상금은 1,000+3×100으로 계산되어 1,300원을 받게 된다. 

또 3개의 눈이 2, 2, 2로 주어지면 10,000+2×1,000 으로 계산되어 12,000원을 받게 된다. 

3개의 눈이 6, 2, 5로 주어지면 그중 가장 큰 값이 6이므로 6×100으로 계산되어 600원을 상금으로 받게 된다.

3개 주사위의 나온 눈이 주어질 때, 상금을 계산하는 프로그램을 작성 하시오.


입력

- 첫째 줄에 3개의 눈이 빈칸을 사이에 두고 각각 주어진다. 

출력

- 첫째 줄에 게임의 상금을 출력 한다.

In [74]:
a,b,c = map(int, input().split())

if (a==b==c):
    print(10000 + (a * 1000))
    
if (a==b and b!=c):
    print(1000 + (a* 100))

if (b==c and c!=a):
    print(1000 + (b* 100))

if (a==c and c!=b):
    print(1000 + (a* 100))

if (a!=b!=c):
    if (a>b>c or a>c>b):
        print(a * 100)
    if (b>a>c or b>c>a):
        print(b * 100)
    if (c>a>b or c>b>a):
        print(c * 100)

2 6 5
600

### 2475번 검증수

컴퓨터를 제조하는 회사인 KOI 전자에서는 제조하는 컴퓨터마다 6자리의 고유번호를 매긴다. 

고유번호의 처음 5자리에는 00000부터 99999까지의 수 중 하나가 주어지며 6번째 자리에는 검증수가 들어간다. 

검증수는 고유번호의 처음 5자리에 들어가는 5개의 숫자를 각각 제곱한 수의 합을 10으로 나눈 나머지이다.

예를 들어 고유번호의 처음 5자리의 숫자들이 04256이면, 

각 숫자를 제곱한 수들의 합 0+16+4+25+36 = 81 을 10으로 나눈 나머지인 1이 검증수이다.

입력  

0 4 2 5 6

출력  

1

In [11]:
a,b,c,d,e = map(int, input().split())
list = [a,b,c,d,e]
total = 0
for i in range(5):
    total += int(list[i] * list[i])

print(total%10)

1 1 1 2 2
1

### 2525번 오븐 시계

KOI 전자에서는 건강에 좋고 맛있는 훈제오리구이 요리를 간편하게 만드는 인공지능 오븐을 개발하려고 한다. 

인공지능 오븐을 사용하는 방법은 적당한 양의 오리 훈제 재료를 인공지능 오븐에 넣으면 된다. 

그러면 인공지능 오븐은 오븐구이가 끝나는 시간을 분 단위로 자동적으로 계산한다. 

또한, KOI 전자의 인공지능 오븐 앞면에는 사용자에게 훈제오리구이 요리가 끝나는 시각을 알려 주는 디지털 시계가 있다. 

훈제오리구이를 시작하는 시각과 오븐구이를 하는 데 필요한 시간이 분단위로 주어졌을 때, 오븐구이가 끝나는 시각을 계산하는 프로그램을 작성하시오.


입력

- 첫째 줄에는 현재 시각이 나온다. 현재 시각은 시 A (0 ≤ A ≤ 23) 와 분 B (0 ≤ B ≤ 59)가 정수로 빈칸을 사이에 두고 순서대로 주어진다. 
- 두 번째 줄에는 요리하는 데 필요한 시간 C (0 ≤ C ≤ 1,000)가 분 단위로 주어진다. 

출력

- 첫째 줄에 종료되는 시각의 시와 분을 공백을 사이에 두고 출력한다. 
- (단, 시는 0부터 23까지의 정수, 분은 0부터 59까지의 정수이다. 디지털 시계는 23시 59분에서 1분이 지나면 0시 0분이 된다.)


예제 입력 
- 23 48     
- 25        

예제 출력 
- 0 13      


## > 연산자

- 산술 : +, -, *, /, //(몫), %(나머지)
- 비교 : ==(값이 같은지), !=(값이 다른지), <=, >=, <, >
- 논리 : and, or
- 할당 : =, +=(누적합), -=(누적차), *=(누적곱), /=(몫만 남기기), %=(나머지만 남기기)

In [ ]:
#### 시계를 만들자

# 시 ; 1 <=시<= 24 /만약 시 > 24이면 시-24
# 분 ; 0 <=분<=59 / 만약 분 > 59이면 분 -60 그리고 시 + 1
만약 분이나 시를 더할 경우 몫만 남기기 나머지만 남기기 사용한다
h,m = map(int, input().split())
plus_m = int(input())
M = m + plus_m

if M >= 60:
    h += M//60
    m = M%60
else:
    m = M

if h >= 24:
    h= h-24

    
print(h , m)

### 2884번 알람 시계

상근이는 매일 아침 알람을 듣고 일어난다. 

알람을 듣고 바로 일어나면 다행이겠지만, 항상 조금만 더 자려는 마음 때문에 매일 학교를 지각하고 있다.

상근이는 모든 방법을 동원해보았지만, 조금만 더 자려는 마음은 그 어떤 것도 없앨 수가 없었다.

이런 상근이를 불쌍하게 보던, 창영이는 자신이 사용하는 방법을 추천해 주었다.

바로 "45분 일찍 알람 설정하기"이다.

이 방법은 단순하다. 원래 설정되어 있는 알람을 45분 앞서는 시간으로 바꾸는 것이다. 

어차피 알람 소리를 들으면, 알람을 끄고 조금 더 잘 것이기 때문이다. 

이 방법을 사용하면, 매일 아침 더 잤다는 기분을 느낄 수 있고, 학교도 지각하지 않게 된다.

현재 상근이가 설정한 알람 시각이 주어졌을 때, 창영이의 방법을 사용한다면, 이를 언제로 고쳐야 하는지 구하는 프로그램을 작성하시오.


입력
- 첫째 줄에 두 정수 H와 M이 주어진다. (0 ≤ H ≤ 23, 0 ≤ M ≤ 59) 
- 그리고 이것은 현재 상근이가 설정한 놓은 알람 시간 H시 M분을 의미한다.

입력 시간은 24시간 표현을 사용한다. 24시간 표현에서 하루의 시작은 0:0(자정)이고, 끝은 23:59(다음날 자정 1분 전)이다. 

시간을 나타낼 때, 불필요한 0은 사용하지 않는다.

출력
- 첫째 줄에 상근이가 창영이의 방법을 사용할 때, 설정해야 하는 알람 시간을 출력한다. (입력과 같은 형태로 출력하면 된다.)


예제 입력 2 
- 0 30

예제 출력 2 
- 23 45

In [11]:
h,m = map(int, input().split())
M = m-45
if M >= 60:
    h += M//60
    M = M%60
if M < 0:
    M = M+60
    h = h-1
    if h < 0:
        h= 24 + h
print(h , M)

23 40
22 55

### 10818번 최소, 최대

N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

입력
- 첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다. 
- 모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.

출력

- 첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.

예제 입력 1 
- 5
- 20 10 35 30 7

예제 출력 1 
- 7 35

In [30]:
n = int(input())
listn = map(int, input().split())
lista = []

for a in listn:
    lista += [a]
    lista.sort()

print(lista[0],lista[-1])

5
35 20 10 30 7
7 35

In [23]:
lista

[7, 10, 20, 30, 35]

위에거 시간 초과 뜸

In [28]:
n = int(input())
nums = list(map(int, input().split()))
max_num = nums[0]
min_num = nums[0]

for i in nums:
    if i > max_num:
        max_num = i
    
    elif i < min_num:
        min_num = i

print(min_num, max_num)

5
35 20 10 30 7
7 35

### 2588번 곱셈



(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.
-  . . .4.7.2
-  . .X.3.8.5
- -----------------------
-  . .2.3.6.0
-  .3.7.7.6
- 1.4.1.6
- -------------------------------
- 1.8.1.7.2.0


(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

In [20]:
nums = int(input())
nums1 = list(map(int, input()))

print(nums * int(nums1[2]))
print(nums * int(nums1[1]))
print(nums * int(nums1[0]))
print(nums * nums1)

472
385
2360
3776
1416
[3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5, 3, 8, 5]

In [22]:
nums = int(input())
nums1 = list(map(int, input()))

print(nums * int(nums1[2]))
print(nums * int(nums1[1]))
print(nums * int(nums1[0]))
print(nums *((100* nums1[0]) +(10* nums1[1]) + nums1[2]))

472
385
2360
3776
1416
181720

### 2562번 최댓값

9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

예를 들어, 서로 다른 9개의 자연수

3, 29, 38, 12, 57, 74, 40, 85, 61

이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.

입력
- 첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.

출력
- 첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.

In [38]:
nums = []

for i in range(9):
    nums.append(int(input()))
    max_num = nums[0]
    for i in nums:
        if i > max_num:
            max_num = i

            
print(max_num)
print(nums.index(max_num)+1)

3
29
38
12
57
74
40
85
61
85
8

### 8958번 OX퀴즈

"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 

문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

* 입력

첫째 줄에 테스트 케이스의 개수가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, 길이가 0보다 크고 80보다 작은 문자열이 주어진다. 문자열은 O와 X만으로 이루어져 있다.

* 출력

각 테스트 케이스마다 점수를 출력한다.

In [2]:
n= int(input())
ox = []

for i in range(n):
    ox=list(input())
    s= 0
    sum_s= 0
    for i in ox:
        if i == "O":
            s += 1
            sum_s += s
        elif i == "X":
            s = 0
    print(sum_s)

5
OOXXOXXOOO
0
oxoxoooxoxoxo
0
oxooooxoxoxo
0
oooooo
0
ooooooooo
0

In [2]:
ox

['o', 'x', 'o', 'o', 'o', 'x', 'o', 'x', 'o', 'x', 'o']

In [153]:
s= 0
for i in range(n):
    if i == "o":
        s +=1
        
    elif i == "x":
        s + 0

In [154]:
s

0

In [ ]:
n= int(input())
ox = []

for i in range(n):
    ox.append("%s" %(list(input())))

In [3]:
n= int(input())
ox = []

for i in range(n):
    ox=str(input())
    s= 0
    sum_s= 0
    for i in ox:
        if i == "O":
            s +=1
            sum_s+= s
        elif i == "X":
            s = 0
    print(sum_s)

5
xoxoooxoxoxoxoxo
12
xooxoxoooxoxo
12
oooooooo
36
oxoxoxooxoxoxo
9
oooooxoxoxo
18

### 3046번 R2

두 숫자 R1과 R2가 있을 때, 두 수의 평균 S는 (R1+R2)/2와 같다. 

상근이는 정인이 생일 선물로 두 숫자 R1과 R2를 주려고 한다. 

생일 파티에서 상근이는 정인이에게 이 두 숫자를 말해주고, 정인이는 이 숫자를 받아 적는다. 

그리고 나서 기쁜 마음으로 1년동안 이 숫자를 외우면서 산다.

상근이는 R1과 R2를 엄청난 고민 끝에 정했다. 

작년에는 R1과 R2를 까먹어서 아무 숫자나 정해서 주었기 때문에, 올해는 까먹지 않기 위해서 평균 S도 같이 기억하려고 한다.

오늘은 정인이 생일이다. 5분 후에 상근이는 생일 선물로 두 숫자 R1과 R2를 말해주어야 하지만, 안타깝게도 R2를 까먹고 말았다. 

하지만 R1과 S는 기억하고 있다!

상근이를 도와 R2가 몇 인지 구하는 프로그램을 작성하시오.


* 입력

첫째 줄에 두 정수 R1과 S가 주어진다. 두 수는 -1000보다 크거나 같고, 1000보다 작거나 같다.

* 출력

첫째 줄에 R2를 출력한다.

In [5]:
# (a + b)/2 = A

# 2A =a + b

# r1 -2s = r2

r1,s = map(int, input().split())
r2=0

for i in range(1):
    r2 += r1+(-2 *s)
    print(-r2)

4 3
2

### 1978번 소수찾기

주어진 수 N개 중에서 소수가 몇 개인지 찾아서 출력하는 프로그램을 작성하시오.

- 입력
    첫 줄에 수의 개수 N이 주어진다. N은 100이하이다. 다음으로 N개의 수가 주어지는데 수는 1,000 이하의 자연수이다.

- 출력
    주어진 수들 중 소수의 개수를 출력한다.
    
    
- 예제 입력 1 
    
    - 4
    - 1 3 5 7

- 예제 출력 1 
    
    - 3
    
## > 연산자

- 산술 : +, -, *, /, //(몫), %(나머지)
- 비교 : ==(값이 같은지), !=(값이 다른지), <=, >=, <, >
- 논리 : and, or
- 할당 : =, +=(누적합), -=(누적차), *=(누적곱), /=(몫만 남기기), %=(나머지만 남기기)

In [ ]:
n = int(input())
nums = list(map(int, input().split()))
sosu = []
nums <= 1000
for i in nums:
    if i < 10:
        if i==2 or i==3 or i==5 or i==7:
            sosu.append(i)
        elif i!= 2 or i!=3 or i!=5 or i!=7:
            i == ""
    if i >= 10:
        if (i%2==0 or i%3==0 or i%5==0 or i%7==0):
            i == ""
        elif (i%2!=0 or i%3!=0 or i%5!=0 or i%7!=0):
            sosu.append(i)

print(sosu)
print(len(sosu))